In [ ]:
#Encoding categorical features

#Be aware of sparse matrices !
#Missing categorical values -> KNN :)

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelBinarizer
provinces = ["Wielkopolskie", "Pomorskie", "Lubuskie", "Slaskie"]
label_binarizer = LabelBinarizer()
province_labels = label_binarizer.fit_transform(provinces)
province_labels
label_binarizer.classes_

array(['Lubuskie', 'Pomorskie', 'Slaskie', 'Wielkopolskie'], dtype='<U13')

In [2]:
pd.get_dummies(provinces)

   Lubuskie  Pomorskie  Slaskie  Wielkopolskie
0         0          0        0              1
1         0          1        0              0
2         1          0        0              0
3         0          0        1              0

In [3]:
from sklearn.preprocessing import MultiLabelBinarizer
cities = ["Poznan", "Gdansk", "Lublin", "Katowice"]
provs_and_cities = list(zip(provinces, cities))
provs_and_cities

[('Wielkopolskie', 'Poznan'),
 ('Pomorskie', 'Gdansk'),
 ('Lubuskie', 'Lublin'),
 ('Slaskie', 'Katowice')]

In [4]:
multi_label_binarizer = MultiLabelBinarizer()
multi_label_binarizer.fit_transform(provs_and_cities)

array([[0, 0, 0, 0, 0, 1, 0, 1],
       [1, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 1, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 1, 0]])

In [ ]:
# Encoding ordinal features

In [5]:
import pandas as pd
df = pd.DataFrame([['apple', 'medium'],
                   ['orange', 'small'], 
                   ['banana', 'large']], 
                  columns=["fruit", "size"])
df

    fruit    size
0   apple  medium
1  orange   small
2  banana   large

In [6]:
mapping_dict = {"small": 1,
                "large": 3,
                "medium": 2}
# df['size'] = df['size'].map(mapping_dict)
df['size'] = df['size'].replace(mapping_dict)
df

    fruit  size
0   apple     2
1  orange     1
2  banana     3

In [ ]:
#Rescaling the data

    #Log normalization np.log (check the columns variance)
    #MinMaxScaler
    #StandardScaler
    #RobustScaler
#To read:
    #http://benalexkeen.com/feature-scaling-with-scikit-learn/
    #https://scikit-learn.org/stable/auto_examples/preprocessing/plot_all_scaling.html

In [ ]:
#Zadania

#1. Znajdź różnice pomiędzy LabelEncoder, OHE, LabelBinerizer
#2. Zamień wartości w kolumnach tekstowych na typ integer. Zastanów się nad wyborem kolummn.
#3. Przeprowadź skalowanie/standaryzację danych numerycznych (pomiń te z pkt.2) i sprawdź wyniki.
#4. Sprawdź też jaki wpływ ma standaryzacja na KNN, wykorzystany przy uzupełnianiu brakujących danych.